@theme{
    --text-h1:40px;
    --text-h2:32px;
    --text-h3:28px;
    --text-h4:24px;
    --text-h5:20px;
    --text-h6:16px;

    --font-NotoSans:"Noto Sans TC", "Microsoft JhengHei",
    "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
}